{% extends 'base.html.twig' %}

{% block title %}titre{% endblock %}

{% block body %}

<div class="container-fluid">
{# {% include '_fragments/_nav/_string_nav.html.twig' %} #}
{# {% include '_fragments/_nav/_array_nav.html.twig' %} #}
{# {% include '_fragments/_nav/_collection_nav.html.twig' %} #}
{# {% include '_fragments/_nav/_toggle_collection_nav.html.twig' %}  #}
{% include '_fragments/_nav/_bootstrap_nav.html.twig' %}
</div>

<div class="container-fluid py-3">
    <h1>{{ currentCategory.title }}</h1>
</div>
{% endblock %}
